html{
    color: #0a0116;
    background-color:rgb(211, 224, 240);
    background-image: url("./nata.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: auto;
    font-weight: 600;
    font-size: medium;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
h2{
    color:rgba(8, 8, 99, 0.904);
    text-decoration:underline;
}
a:active{
    color: red;
    cursor: help;
}
a:visited{
    color: rgb(189, 45, 158);
    cursor:pointer
}
.titulo-principal{
    color: green;
}
#normal{
    text-decoration: none;
}
